.background {
    background-image: url(bg2.jpg);
    background-size: cover;
    background-position: center bottom;
    position: relative;
    overflow: hidden;
}

.ninja {
    height: 150px;
    bottom: 10%;
    left: 4%;
    position: absolute;
    z-index: 10;
}

.golem {
    height: 160px;
    bottom: 10%;
    right: 4%;
    position: absolute;
    transform: scaleX(-1);
    z-index: 10;
}

.start {
    background-color:rgba(253, 101, 253, 0.356);
    width: 150px;
    height: 60px;
    color: rgb(250, 244, 244);
    font-size: 20px;
    font-weight: bold;
    border: 0px;
    border-radius: 8px;
    margin-top: 100px;
    margin-left: 1180px;
    position: absolute;
}

.start:hover {
    background-color: rgba(228, 10, 228, 0.575);
}
.pause{
    background-color: rgba(253, 101, 253, 0.356);
    width: 100px;
    height: 40px;
    color: rgb(250, 244, 244);
    font-size: 24px;
    font-weight: bold;
    border: 0px;
    border-radius: 8px;
    margin-top: 180px;
    margin-left: 1200px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pause:hover{
    background-color: rgba(228, 10, 228, 0.575);
}
.restart{
    background-color: rgba(253, 101, 253, 0.356);
    width: 100px;
    height: 40px;
    color: rgb(250, 244, 244);
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    border: 0px;
    border-radius: 8px;
    margin-top: 240px;
    margin-left: 1200px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.restart:hover{
    background-color: rgba(228, 10, 228, 0.575);
}
.win{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.win-image{
    width: 30%;
    animation: zoomIn 0.5s ease;
}
.defeat{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 73, 0.459);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.def-image{
    width: 30%;
    animation: zoomIn 0.5s ease;
}